@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.container {
    height: 100%;
    background-color: #636E72;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    column-gap: 0px;
    row-gap: 0px;
}
.text-container {
    grid-area: 2 / 2 / 6 / 9;
    display: flex;
}

.text-container h1 {
    text-align: center;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
}

.startBtn {
    grid-area: 7 / 2 / 9 / 9;
    background-color: #B2BEC3;
    color: white;
    padding: 12px 28px;
    border-radius: 12px;
    border: 2px solid white;
    width: 100%;
    display: block;
    margin: 0 auto;
    opacity: 0.8;
    transition: 0.3s;
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.startBtn:hover {
    opacity: 1;
}