@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.container {
    height: 100%;
    background-color: #636E72;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    column-gap: 0px;
    row-gap: 0px;
}
.text-container {
    grid-area: 2 / 2 / 3 / 9;
}

.text-container h1 {
    text-align: center;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.button-container {
    grid-area: 3 / 2 / 5 / 9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.button-container button {
    background-color: #B2BEC3;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    padding: 12px 28px;
    border-radius: 10px;
    border: 2px solid white;
    opacity: 0.7;
    transition: 0.3s;
}

.button-container button:hover {
    opacity: 1;
}

.button-container button:active {
    opacity: 1;
}

.form-container {
    grid-area: 5 / 2 / 9 / 9;
    padding: 10px 30px 0px;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form input {
    padding: 12px 20px;
    border: 2px solid indianred;
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
}

form button {
    background-color: #B2BEC3;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
}
