.name {
    color: #FFF;
}

.score {
    color: #B2BEC3;
}

.btn {
    background-color: #B2BEC3;
    color: white;
    font-size: 20px;
    padding: 12px 28px;
    border-radius: 12px;
    border: 2px solid white;
}