/* html, body, #root, #app, #app>div {
    height: 100%;
} */

#app {
    background-color: lightcoral;
    height: 100%;
    grid-area: 2 / 2 / 7 / 7;
}

#root {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}